click==6.7
coverage==4.4.1
Flask==0.12.1
Flask-Cors==3.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
psycopg2==2.7.1
six==1.10.0
SQLAlchemy==1.1.10
Werkzeug==0.12.2
